@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Quicksand:wght@600;700&family=Roboto:wght@100&family=Ubuntu&display=swap');

/* Estilos generales */
:root {
    /* Pantalla */
    --height-nav: 8.4vh;
    --pantalla: calc(100vh - var(--height-nav));

    /* Ícono */
    --size-icon: 1.5em;

    /* Texto */
    
    --text-color-descripcion-dark: #a3a3a3;
    --text-color: #f7f7f7;


    /* Fondo */
    --body-color: #111111;
    --nav-color: #505050;

    /* Contenedores */
    --container-color: #191919;
    --cursor-color: #dadada;
    --mini-ojo: #ffffff;
    --mini-punto: #000000;

    /* Otros */
    --box-shadow-color: #272727;
    --scroll-color: #1D222F;

    /* Fuentes */
    --first-font: 'Quicksand', sans-serif;
}

.light-theme {
    --body-color: #dadada;
    --text-color: #191919;
    --container-color: #b3b3b3;
    --scroll-color: #838383;
    --cursor-color: #111111;
    --mini-ojo: #000000;
    --mini-punto: #ffffff;
    --nav-color: #ececec;
}

.dark-theme {
    --body-color: #111111;
    --text-color: #f7f7f7;
    --container-color: #191919;
    --scroll-color: #1D222F;
    --cursor-color: #dadada;
    --mini-ojo: #ffffff;
    --mini-punto: #000000;
    --nav-color: #111111;
}

/* TITLES */
.title-1 {
    font-size: 80px;
    padding: 5px;
    color: var(--text-color);
}

.title-2 {
    font-size: 20px;
    padding: 5px;
    margin: 10px 0 40px 0;
    color: var(--text-color);
}

.title-3 {
    font-size: 15px;
    color: var(--text-color);
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}

.body {
    font-family: var(--first-font);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.15;
    overflow-x: hidden;

    transition: background .5s;
}

*::selection {
    color: var(--text-color-descripcion-dark);
    background-color: rgba(129,56,221, .3);
}

/* Cursor */
.cursor__container {
    --size: 20px;
    position: fixed;
    width: var(--size);
    height: var(--size);
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
    pointer-events: none;
    transition: none;
    z-index: 11000;
    will-change: transform;
}

.cursor {
    display: block;
    width: 100%;    
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--cursor-color);

    transition: all 0.15s ease-in-out;
    opacity: 1;
    transform: scale(0.9) translateZ(0);
}

.cursor__container.is-clicked .cursor {
    opacity: 0.5;
}

.cursor__container.is-hidden .cursor {
    opacity: 0;
}

.cursor__container.is-link-hovered .cursor {
    transition: .1s;
    background-color: var(--cursor-color);
    animation: cursor .2s linear forwards alternate;
}

@keyframes cursor {
    from{ transform: scale(1);}

    to{ transform: scale(0.7);}
}

.has-custom-cursor, .has-custom-cursor * {
    cursor: none !important;
}

/* Estilos del encabezado */
.header {
    position: sticky;
    top: 0;
    z-index: 2200;
    outline: 2px solid white;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    height: var(--height-nav);
    padding: 0 120px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    height: 100%;
}

.idioma__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 100%;

    animation: animate__bounceInRight 2s .3s;
}

.idioma {
    height: var(--size-icon);
    width: var(--size-icon);
    border-radius: 20px;
    transition: .4s;
}

/* Estilos del mini ojo */
.caja-ojo {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.caja-ojo-oculto {
    opacity: 0;
    pointer-events: none;
}

.caja-ojo-visible {
    opacity: 1;
}

.mini-ojo {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: var(--mini-ojo);
    border-radius: 50%;
    width: 28px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
}

.mini-punto {
    background-color: var(--mini-punto);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    transition: width .2s ease-in-out, height .2s ease-in-out, transform .2s ease-out;
}

.active-punto {
    width: 14px;
    height: 14px;
    transition: width .2s ease-in-out, height .2s ease-in-out;
}

.mini-ceja {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -20px) scaleY(0);
    transition: opacity .3s ease-in-out, transform .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
  
.active-ceja {
    opacity: 1;
    transform: translate(-50%, -30px) scaleY(1);
    transition: opacity .3s ease-in-out, transform .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.caja-ojo:hover .mini-ceja {
    opacity: 1;
}

/* Estilos del nav */

.nav__item {
    height: 100%;
    animation: animate__fadeInDown 1s;
}

.nav__item:nth-of-type(1) {
    animation-delay: 0s;
}

.nav__item:nth-of-type(2) {
    animation-delay: .2s;
}

.nav__item:nth-of-type(3) {
    animation-delay: .4s;
}

.nav__list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.nav-a {
    display: flex;
    align-items: center;

    position: relative;

    height: 100%;
    padding: 0 35px;
    border-radius: 20px;

    line-height: 2;
    outline: none;

    color: var(--text-color);
    transition: all 0.3s ease;
}

.nav-a:focus {
    color: rgba(172, 132, 224, 0.9);
}

.nav-a::before {
    content: attr(data-number) ".";
    padding-right: 10px;
    color: #8983f7;
}

.nav-a:hover::after {
    position: absolute;
    bottom: 15%;
    left: 15%;

    width: 70%;
    height: 6px;
    border-radius: 20px;

    opacity: 0;
    content: "";

    background-color: #ac84e0;

    animation: upBar .3s forwards;
}

@keyframes upBar {
    from{ transform: scale(0.5); opacity: 0;}

    to{ transform: scale(1); rotate: 2deg; opacity: 1;}
}

.nav-a:hover {
    color: #ac84e0e6;
}

.nav__item-right {
    padding: 0 35px;
}

/* Themes Checkbox */
.checkbox__container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.sub__nav-right {
    animation: animate__bounceInRight 1s;
}

.sub__nav-right:nth-of-type(1) {
    animation-delay: 0s;
}

.sub__nav-right:nth-of-type(2) {
    animation-delay: .5s;
}

.switch {
    height: var(--height-nav);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    visibility: hidden;
    display: none;
}

.deslizante::before {
    display: block;
    content: '';
    height: var(--size-icon, 1.4em);
    width: var(--size-icon, 1.4em);
    border-radius: 20px;
    background: transparent;
    transition: .4s;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  
  .checkbox:checked + .deslizante {
    background-color: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  }
  
  .checkbox:checked + .deslizante::before {
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    box-shadow: none;
  }

/* Estilos de la sección inicio */
#inicio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px;
    height: var(--pantalla);
    color: #ffffff;
}

/* .x{
    flex: 1;
    min-width: 250px;
}

.x:first-child{
    flex: 2;
    margin: 20px;
    margin-bottom: 0;
} */

@media screen and (max-width: 700px) {
    .inicio__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.inicio__container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 600px;

    animation: container-ojo .6s 1s forwards;
}

.portafolio {
    display: block;
    padding: 15px;
    background-color: var(--container-color);
    border-radius: 20px;
    width: 20em;
    text-align: center;
}

/* Título */
.title {
    text-align: start;
    font-weight: bold;
    padding: 25px 0;
    background-clip: content-box;
    background-color: rgb(129,56,221);
    background: linear-gradient(90deg, rgba(129,56,221,1) 0%, rgba(172,132,224,1) 53%, rgba(48,10,97,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    word-spacing: 1px;
}

.descripcion-arriba {
    color: rgb(136, 123, 153);
    line-height: 25px;
    text-align: start;
}

/* Descripción corta */
.descripcion {
    color: var(--text-color-descripcion-dark);
    line-height: 25px;
    text-align: start;
}

.inicio__container-ojo {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    
    border-radius: 20px;
    width: 555px;
    height: 555px;
    animation: container-ojo 1s 1.5s forwards;
}

@keyframes container-ojo {
    from{ transform: translateY(0);}

    50% {transform: translateY(-2%)}
    
    to{ transform: translateY(0); opacity: 1;}
}


.ojo {   
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    width: 275px;
    height: 175px;

    background-color: #ffffff;

    animation: levitar 2s 2s infinite alternate ease-in-out;
}

@keyframes levitar {
    to{ transform: translateY(10%);}
}

.punto {
    background-color: #000000;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    transition: background .1s;

    animation: ojoPunto 40s cubic-bezier(.66,.01,.34,1) 2s infinite;
}

@keyframes ojoPunto {
/* Primera animación: izquierda */
    from{transform: translate(0);}

    2%{transform: translate(-21%, -2%);}

    3%{transform: translate(-40%, -10%);}

    4%{transform: translate(-40%, -20%)}

    7%{transform: translate(-40%, -20%)}

    8.5%{transform: translate(-40%, 20%);}

    12%{transform: translate(-40%, 20%);}

    14%{transform: translate(0);}

    18%{transform: translate(0);}

    19%{transform: translate(-50%, 0%);}

    20%{transform: translate(-50%, 4%);}

    22%{transform: translate(-50%, -4%);}

    26%{transform: translate(-50%, -2%);}

    27%{transform: translate(0);}

/* Segunda animación: derecha */
    41%{transform: translate(0);}

    42%{transform: translate(40%, -20%);}

    44%{transform: translate(40%, -15%);}

    46%{transform: translate(50%, 15%);}

    48%{transform: scale(0.6) translate(100%, 60%);}

    53%{transform: scale(0.6) translate(100%, 60%);}

    54%{transform: scale(1) translate(0);}

/* Tercera animación: arriba */
    62%{transform: translate(0);}

    64%{transform: translate(-20%, -30%);}

    66%{transform: translate(-45%, -30%);}

    70%{transform: translate(-45%, -30%);}

    72%{transform: translate(-10%, -30%);}

    74%{transform: translate(45%, -30%);}

    78%{transform: translate(45%, -30%);}

    79%{transform: translate(0);}

/* Cuarta animación: abajo */
    83%{transform: translate(0);}

    85%{transform: translate(60%, 25%);}

    87%{transform: translate(40%, 30%);}

    89%{transform: translate(-25%, 30%);}

    91%{transform: translate(10%, 25%);}

    92%{transform: translate(0);}

/* Final */
    to{transform: translate(0);}
}

/* Estilos de la sección sobre mí */
#sobre-mi {
    margin: 150px 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mi__text {
    font-size: 30px;
}

.sobre-mi__text::before {
    content: '01.';
    padding-right: 10px;
    color: #8983f7;
}

.sobre-mi__container {
    display: flex;
    flex-direction: row;
}

#sobre-mi .card p {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#sobre-mi .card p.oculto {
    opacity: 0;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-left: 1px solid var(--text-color-descripcion-dark);
}

.boton {
    width: 100%;
    padding: 15px;
    border: none;
    color: var(--text-color-descripcion-dark);
    background-color: transparent;
    background-size: 50%;
    background-position: left center;
    transition: background-size 0.3s ease, background-color 0.3s ease, background-position-x 0.3s ease;
  }
  
  .boton.activo {
    background-color: rgba(155, 71, 211, 0.3);
    background-size: 100% 100%;
    background-position-x: -100%;
    animation: llenarFondo 1s;
  }
  
  .boton.inactivo {
    background-size: 0% 100%;
    background-position-x: 0%;
  }

  @keyframes llenarFondo {
    from {
      background-size: 0% 100%;
    }
    to {
      background-size: 100% 100%;
    }
  }
  
.card {
    border-radius: 20px;
    padding: 40px;
    width: 600px;
    box-shadow:  0 0px 30px var(--box-shadow-color);
}

.card-img {
    max-width: 150px;
}

.perfil {
    height: 130px;
    width: 130px;
    border-radius: 70px;
}

/* Estilos de la sección de mis proyectos */
#mis-proyectos {

    height: 100vh;
    color: #ffffff;
}

.mis-proyectos__text {
    font-size: 30px;
    display: flex;
    justify-content: start;
}

.mis-proyectos__text::before {
    content: '02.';
    padding-right: 10px;
    color: #8983f7;
}

section {
    outline: 2px solid white;
}

/* Atropos */
.atroposes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-atropos, .my-second-atropos, .my-third-atropos { 
    width: 70%;
}

.atropos-inner {
    padding: 20px 50px;
    display: flex;
}

.img-atropos {
    border-radius: 20px;
}

.a-atropos {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -200%);
    background-color: rgba(181,61,245);
    padding: 20px 30px;
    border-radius: 50px;
    transition: background .5s;
    outline: none;
}

.a-atropos:hover {
    background-color: rgba(181,61,245, .7);
}

.a-atropos:focus {
    background-color: rgba(181,61,245, .7);
}

.title-1-atropos {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(181,61,245, .7);
    color: var(--text-color-light);
    font-size: 70px;
    font-weight: 300;
    white-space: nowrap;
}

.title-3-atropos {
    color: var(--text-color-light);
    font-size: 20px;
    white-space: nowrap;
    font-weight: 300;
}


/* Estilos de la sección de contacto */
#contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 50px;

    color: #ffffff;
}

.contacto__container {
    margin: 0 500px;
}

.contacto__text {
    font-size: 30px;
    display: flex;
    justify-content: start;
}

.contacto__text::before {
    content: '03.';
    padding-right: 10px;
    color: #8983f7;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.form__input {
    margin: 15px;
    padding: 10px;

    width: 100%;
    
    border-bottom: 1px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;

    transition: background .2s;
}

.form__input:-webkit-autofill {
    background-color: #8983f7;
}

.form__input:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    color: whitesmoke;
}

.form__submit {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: whitesmoke;
}

.form__submit:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: whitesmoke;
}

.form__submit:active {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: whitesmoke;
}

/* Estilos del footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 15px;
}

.social-item {
    transition: color .2s;
}

.social-item:hover {
    color: #8983f7;
}

/* EXTRA */



/* Estilos del scroll */
::-webkit-scrollbar {
    width: 0.6rem;

    background-color: var(--container-color);
}

::-webkit-scrollbar-thumb {
    background-color:var(--scroll-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb:active {
    background-color: #141414;
}



/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
}
  
.preloader__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.preloader__eye {
    border-radius: 50%;
    width: 275px;
    height: 175px;

    background-color: #ffffff;
    animation: eye-float 2s ease-in-out infinite;
}
  
.preloader__eye:before {
    content: '';
    display: block;
    width: 104px;
    height: 104px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}

.loading {
    display: none;
}
  

@keyframes eye-float {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
}

.fadeOut {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
      transform: translate(0) scale(8);
    }
    100% {
      transform: translateY(-100%);
    }
}


.carga {
    width: 70px;
    height: 70px;
    border-top: 5px solid #451394;
    border-right: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 6000;

    animation: carga 1s linear infinite;
}

.carga > div {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;

    animation: carga 1s linear infinite;
}

@keyframes carga {
    to{ transform: rotate(360deg);}
}

.gallery {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;

    background-color: transparent;
}

/* Proycto */
.gallery-cell {
    width: 66%;
    height: 500px;
    margin-right: 10px;
    background-color: transparent;
    counter-increment: gallery-cell;
}
  
/* Proycto::before */
.gallery-cell::before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: #8983f7;
}